 @import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap');

 * {
     margin: 0;
     padding: 0;
     font-family: "Unbounded", cursive;
 }

 body {
     background-color: #edf2f4;
     color: #2b2d42
 }

 h1 {
     font-size: 4rem;
 }

 h2 {
     font-size: 3rem;
 }

 h3 {
     font-size: 1.5rem;
 }

 p {
     font-size: 1rem;
     font-weight: 300;
 }

 .container {
     background-color: #8d99ae;
     color: #edf2f4;
     padding: 2em;
     border-radius: 2em;
     width: 85%;
     margin: 0 auto;


 }

 .submit {
     border: none;
     background-color: #be1a2d;
     padding: 0.5em;
     border-radius: 1em;
     margin-top: 1em;
     transition: 0.4s ease;

 }

 .submit:hover {
     background-color: #911422;
     color: #edf2ed;
     transform: scale(1.1);
     transition: 0.4s ease;

 }

 form {
     margin: 2em auto;
     width: 20em;

 }

 .form-group {
     display: flex;
     justify-content: space-between;
     color: #2b2d42;
     font-size: large;
     margin-bottom: 1.5em;
 }

 input {
     border: none;
     border-bottom: 2px solid #2b2d42;
     background-color: #edf2f4;
     height: 2em;
 }

 input:focus {
     transform: scale(1.1);
 }

 .mad-lib {
     width: 20em;
     margin: 2em auto;
 }

 b {
     color: #2b2d42;
 }